@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --tw-ring-color: rgb(0 0 0 / 0) !important;
}

@layer base {
    @font-face {
        font-family: SoraRegular;
        font-weight: 400;
        src: url(app/assets/fonts/Sora-Regular.ttf) format('woff');
    }
    @font-face {
        font-family: SoraBold;
        font-weight: 500;
        src: url(app/assets/fonts/Sora-Bold.ttf) format('woff');
    }
    @font-face {
        font-family: SoraMedium;
        font-weight: 500;
        src: url(app/assets/fonts/Sora-Medium.ttf) format('woff');
    }
    @font-face {
        font-family: SoraSemiBold;
        font-weight: 600;
        src: url(app/assets/fonts/Sora-SemiBold.ttf) format('woff');
    }
}

body {
    font-family: SoraRegular;
    background-color: #1c172b;
}
